.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
}

td, th {
  padding: 10px;
}

button {
  margin: 5px;
  padding: 10px;
}

.inactive {
  background-color: #f4f4f4;
}
